*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
img{
    height: 200px;
}
button{
    color: white;
    background-color: #994C00;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-weight: 900;
}
.hero{
    background-color: #CC6600;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-self: center;
    padding: 8px;
}
.logo{
    font-weight: bold;
    font-size: 24px;
}
.header-body{
    align-self: center;
    display: flex;
    width: 1000px;
    padding: 48px;
    justify-content: space-between;
}

.heading{
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 8px;
}
.header-body .text{
    margin-bottom: 8px;
    margin-right: 16px;
}
.header-image{
    width: 300px;
    height: 150px;
}
.container{
    width: 800px;
    align-self: center;
    padding: 32px;
}
.information{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFCC99;
}
.information-title{
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: bold;
    color: white;
}
.information-container{
    display: flex;
    justify-content: space-around;
}
.information-card{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.information-box{
    width: 120px;
    height: 120px;
    border: 1px orange solid;
    border-radius: 5px;
}
.quote{
    background-color: #FFE5CC;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
}
.quote-author{
    text-align: end;
    font-size: 18px;
}
.card-section{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #FFCC99;
}
.card{
    height: 60%;
    width: 1000px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    background-color: #CC6600;
    border-radius: 5px;
}
.card-text{
    align-self: center;
    color: white;
    font-size: 16px;
}
.card-heading{
    font-weight: bold;
    font-size: 18px;
}
.button{
    border: 1px solid white;
    padding: 8px 16px;
    align-self: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CC6600;
    color: white;
    padding: 16px;
}